<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    @{
        ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.FAQ;
    }

    <h2>FAQ</h2>

    <p>
        Welcome to the <strong>F</strong>requentry <strong>A</strong>sked <strong>Q</strong>uestions page! Here is the list containing all importand and
        common questions about this website. If you can't see an answer to your question, please contact with us @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Here.ToLower(), "Index", "Contact").
    </p>

    <hr/>

    <div>
        <h3>Basic questions:</h3><br/>
        <h3>Reservations: </h3><br/>
        <h3>Courts and gear: </h3><br/>
    </div>

</body>
</html>