<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    @{
        ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.FAQ;
    }

    <h2>FAQ</h2>

    <p>
        @Html.Raw(SystemRezerwacjiKortow.Resources.Texts.FAQIntro)
    </p>

    <hr/>

    <div>
        <h3>Basic questions:</h3><br/>
        <h3>Reservations: </h3><br/>
        <h3>Courts and gear: </h3><br/>
    </div>

</body>
</html>