<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    @{
        ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.FAQ;
    }

    <h2>FAQ</h2>

    <p>
        @Html.Raw(SystemRezerwacjiKortow.Resources.Texts.FAQIntro)
    </p>

    <hr/>

    <div>
        <h3>Basic questions:</h3>
        <ol>
            <li><a href="#Aperiam">Aperiam et sequi enim perferendis et maiores veritatis temporibus minima?</a></li>
            <li><a href="#">Placeat dignissimos omnis molestiae et?</a></li>
            <li><a href="#">Fugiat necessitatibus aut consequuntur nemo consequuntur incidunt dolor autem?</a></li>
        </ol>
        <h3>Reservations: </h3>
        <ol>
            <li><a href="#">Autem tempora excepturi tempore?</a></li>
            <li><a href="#Molestias">Molestias ipsum dignissimos vero?</a></li>
            <li><a href="#">Eum qui voluptas quasi enim nam omnis earum voluptatem?</a></li>
        </ol>
        <h3>Courts and gear: </h3>
        <ol>
            <li><a href="#">Hic similique neque quibusdam enim?</a></li>
            <li><a href="#">Temporibus quisquam quaerat sunt aut?</a></li>
            <li><a href="#">Qui doloribus dolor facilis voluptate repellendus?</a></li>
        </ol>

        <p>
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
        </p>

        <h4 id="Molestias"><strong>Q: </strong>Molestias ipsum dignissimos vero?</h4>
        <strong>A: </strong>Molestias ipsum dignissimos vero.

        <p>
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
        </p>

        <p>
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
        </p>

        <h4 id="Aperiam"><strong>Q: </strong>Aperiam et sequi enim perferendis et maiores veritatis temporibus minima?</h4>
        <strong>A: </strong>Aperiam et sequi enim perferendis et maiores veritatis temporibus minima!!

        <p>
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
        </p>

        <p>
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
            Provident eos odio aut numquam. Ea et est ipsam necessitatibus. Voluptas officiis velit neque ipsam odit non ab.
            Labore consequat enim anim excepteur ad. Anim sunt velit mollit consectetur. Voluptate velit ex veniam reprehenderit do cillum consectetur qui ut consectetur veniam veniam.
            Non labore amet mollit anim enim consectetur sint quis sunt aliquip irure cupidatat duis. Elit nisi eiusmod anim anim aliqua ea. Voluptate ex esse consequat laborum tempor. Ullamco dolor minim ut ullamco incididunt do laboris consequat eiusmod aute ullamco.
            Duis exercitation anim sunt incididunt aute do ipsum ullamco mollit reprehenderit magna duis. Tempor mollit proident elit id dolore veniam consectetur. Magna sint aute Lorem excepteur velit.
        </p>

    </div>

</body>
</html>