@{
    ViewBag.Title = "Contact";
}
<h2>@SystemRezerwacjiKortow.Resources.Texts.Contact</h2>

<address>
    <p>
        <strong>Infolinia:</strong> <a href="tel:+48-999-998-997">999 998 997</a> (pon.-pt. 8<sup><u>00</u></sup> - 22<sup><u>00</u></sup>) GMT+1<br />
        <strong>Email:</strong> <a href="mailto:systemrezerwacjikortow@helpdesk.com">systemrezerwacjikortow@helpdesk.com</a>
    </p>

    <p> <strong>Adres:</strong><br />
        Biuro Systemu Rezerwacji Kortów<br />
        ul. Wiejska 45X<br />
        15-351, Białystok
    </p>
    
</address>

<p>
    W przypadku pytań odnośnie konkretnego kortu, prosimy w pierwszej kolejności kontaktować się z jego nadzorcą (dostępne na podstronie <a href="#">Korty</a>).
</p>