
@{
    ViewBag.Title = "Index";
}



@section Scripts{

    <script>

        $(document).ready(function () {

            var events = [];
            var selectedEvent = null;
            GenerateCalender();
            //FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/Calendar/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: 0,
                                title: v.Title,
                                description: "s",
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null
                            });
                        })

                        GenerateCalender();
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function GenerateCalender() {
                $('#calender').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek'
                    },

                    defaultDate: $('#calendar').fullCalendar('today'),
                    slotLabelFormat: ['H:mm'],
                    minTime: "06:00:00",
                    maxTime: "23:00:00",
                    dayClick: function (date, jsEvent, view) {
                        var view2 = $('#calendar').fullCalendar('getView');
                        if (view2.name == "month") {
                            $(this).css('background-color', 'red');
                            $('#calendar').fullCalendar('changeView', 'agendaWeek');
                            $("#calendar").fullCalendar('gotoDate', date);
                            
                        }
                    },

                    navLinks: true, // can click day/week names to navigate views
                    selectable: true,
                    selectHelper: true,
                    eventOverlap: false,
                    selectOverlap: false,
                    eventClick: function (calEvent, jsEvent, view) {
                        var view2 = $('#calendar').fullCalendar('getView');
                        if (view2.name == "agendaWeek" ){
                            selectedEvent = calEvent;
                            $('#infoModal #eventTitle').text(calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm:ss")));
                            if (calEvent.end != null) {
                                $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm:ss")));
                            }
                            $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                            $description.append($('<p/>').html('<b>ID:</b>' + calEvent.id));
                            $('#infoModal #pDetails').empty().html($description);
                            $('#infoModal').modal();
                }
                    },
                    select: function (start, end) {
                        // var title = prompt('Event Title:');
                        //var eventData;
                        //if (title) {
                        //    eventData = {
                        //        title: title,
                        //        start: start,
                        //        end: end
                        //    };
                        //}
                        selectedEvent = {
                            eventID: 0,
                            title: 'Placeholder tytułu',
                            description: 'Twoj opis',
                            start: start,
                            end: end,
                        };
                        var view2 = $('#calendar').fullCalendar('getView');
                        if (view2.name == "agendaWeek") {
                            openAddEditForm();
                            $('#calendar').fullCalendar('renderEvent', selectedEvent, true);
                        }
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    eventRender: function (event, element, view) {
                        if (view.type == 'month') {
                            $(element).css("display", "none");
                        } else {
                            // Do nothing
                        }
                    },

                    //Wygląd dni w monthview
                   // dayRender: function (date, cell) {
                    //    cell.css("background-color", "gray");
                    //},
                    
                    //events: events,
                    events: {
                        url: '/Calendar/GetEvents/',
                        error: function () {
                            $('#script-warning').show();
                        },
                    },
                    timeFormat: 'H(:mm)',

                    

                });
            }

            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#hdstart').val(selectedEvent.start);
                    $('#hdend').val(selectedEvent.end);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtDescription').val(selectedEvent.description);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start:</b>' + selectedEvent.start.format("DD-MMM-YYYY HH:mm:ss")));
                    if (selectedEvent.end != null) {
                        $description.append($('<p/>').html('<b>End:</b>' + selectedEvent.end.format("DD-MMM-YYYY HH:mm:ss")));
                    }
                    $description.append($('<p/>').html('<b>Description:</b>' + selectedEvent.description));
                    $('#myModalSave #pDetails').empty().html($description);
                } else {

                    var title = prompt('Event Titleerror:');
                }

                $('#infoModal').modal('hide');
                $('#myModalSave').modal();
            }

            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteEvent", "Calendar")',
                        data: { 'eventID': selectedEvent.id },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                $('#infoModal').modal('hide');
                                window.alert("Pomyślnie usunięto rezerwacje");
                                GenerateCalender();
                                
                            }
                        },
                        error: function () {
                            window.alert("Nieudało się dodać rezerwacji");
                        }
                    })
                }
            })

            $('#btnSave').click(function () {
                //Validation/
                //if ($('#txtSubject').val().trim() == "") {
                 //   alert('Subject required');
                 //   return;
                //}
                var data = {
                    id: $('#hdEventID').val(),
                    start: $('#hdstart').val(),
                    end: $('#hdend').val(),
                    //description: $('#txtDescription').val(),
                }
                SaveEvent(data);
                // call function for submit data to the server 
            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveEvent", "Calendar")',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            //FetchEventAndRenderCalendar();
                            window.alert("Pomyślnie dodano rezerwacje");
                            $('#myModalSave').modal('hide');
                            
                            GenerateCalender();
                            
                        }
                    },
                    error: function () {
                        window.alert("Nieudało się dodać rezerwacji");
                        alert('Failed');
                    }
                })
            }s
        });



    </script>
}

<div id="calendar"></div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <input type="hidden" id="hdstart" class="form-control"  />
                    <input type="hidden" id="hdend" class="form-control" />
                    <p id="pDetails"></p>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="infoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>