
@{
    ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.Currency;
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.Currency</h2>

@Html.DropDownList("CurrenciesDropDownList", (IEnumerable<SelectListItem>)ViewBag.Currencies)

<button>@Html.ActionLink(@SystemRezerwacjiKortow.Resources.Texts.Save, "Index", "Currency")</button>