
@{
    ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.Currency;
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.Currency</h2>

<ul>
    @foreach (var item in ViewBag.Currencies)
    {
        <li>@item.code</li>
    }
</ul>

<button>@Html.ActionLink(@SystemRezerwacjiKortow.Resources.Texts.Save, "Index", "Currency")</button>