<div class="form-horizontal">

    <div class="form-group">
        <input type="button" value=@SystemRezerwacjiKortow.Resources.Texts.MonthList onclick="location.href='@Url.Action("MonthList", "Statistics")'" />
        <input type="button" value=@SystemRezerwacjiKortow.Resources.Texts.Reservation onclick="location.href='@Url.Action("Index", "Statistics")'" />
        <input type="button" value=@SystemRezerwacjiKortow.Resources.Texts.Revenue onclick="location.href='@Url.Action("MonthRevenue", "Statistics")'" />
        <input type="button" value=@SystemRezerwacjiKortow.Resources.Texts.Gears onclick="location.href='@Url.Action("MonthGear", "Statistics")'" />
    </div>

</div>